@{
    ViewData["Title"] = "Issue Created";
}

<h1 class="lang" key ="issueOk">Issue Created</h1>

<t class="lang" key="created"> class="lang" key="created">Your issue has been created. You can view it</t> <t><a href="@ViewBag.IssueLink" class="lang" key ="here">here</a>.</t>
